body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.name {
  display: flex;
  align-items: center;
  position: relative;
  background-color: red;
  color: white;
  left: 10;
  padding: 2px 16px;
  font-size: large;
}

/* This controls the positioning of the nav menu */
nav ul {
  padding: none;
  list-style: none;
  display: flex;
  justify-content:space-around;
  margin-right: 50px;
  
}

nav li {
  margin-left: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: xx-large;
}

.hero {
  background-image: url('../my_portfolio_picture.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
}

.hero .text {
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #333;
  padding: 10px 20px;
}

.hero .text h2 {
  color: white;
  font-size: 2em;
  margin: 0;
}

/* This controls the grid framework */
#categoryGrid {

  /* display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 100px 100px 100px;
  grid-template-areas: 
  "aboutme aboutme"
  "my-work portfolio"
  "contact-me"
  ;
  grid-gap: 10px; */
  max-width: 1280px;
  margin: 40px auto;
  padding: 0 40px;

}
/* This controls everything within the grid framework */
.categoryGridArea {
  /* display: flex;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* grid-template-rows: 100px 100px 100px; */
  grid-gap: 10px;
  background-color: #ffffff;
  font-size: 1.2em;
  margin: 20px 0 50px;
  min-height: 100px;
}
/* Newly added CSS for the nested grid */
.heading {
  border-right: 1px solid #000000;
  margin-right: 20px;
  font-size: 1.8em; 
  padding-right: 10px;
  padding-top: 22px;
}
/* These settings adjust the positioning of the contact links text */
.contact-links {
  grid-column: span 2 3; /* Make the contact links span both columns */
  display: flex;
  justify-content: space-between; /* Align the links horizontally */
  margin-top: 40px; /* Add some top margin to separate from the heading */
}

/* This section allows the link icons and text to be stylised */
.contact-links a {
  text-decoration: none;
  /* color: #333; */
  font-weight: bold;
}

/* trying to figure out how to reposition and make the headings for each section bigger? */
.aboutMeContent {
  position: relative;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
 
}
/* This is where you can adjust the structure of the nested grid */
.nested-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 10px;
}
/* This gives the grid images uniformity */
.nested-grid .grid-item {
  overflow: hidden;
  position: relative;
  /* background-position: center;
  background-size: cover; */
}
/* This makes the image opacity change to create a hover effect */
.nested-grid .grid-item:hover {
  opacity: .5;

}

.nested-grid .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* This controls the heading text and text styling on each of the 5 grids */
.nested-grid .grid-item h3 {
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  margin: 0;
}
/* This makes grid1 span both columns on the top row */
.grid-item-full {
  grid-column:1/3;
}


/* This allows a video to be imbeded into the nested grid   */
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}
/* This is where the footer structure and styling can be found */
footer {
  background-color: #333;
  color: white;
  text-align:center;
  font-size: x-large;
  padding: 50px;
  position: sticky;
  top: 100vh;
  max-width: 100%;
  
}


